<?xml version="1.0" encoding="UTF-8"?>
    <widget xmlns = "http://www.w3.org/ns/widgets" 
        xmlns:gap = "http://phonegap.com/ns/1.0"
		id = "Kworld.Kworld.APPLICATION"
		version = "1.0.0"
		versionCode = "1">

    <name>Kworld n</name>

    <description>
      Kworld
    </description>

    <author  email="Kworld@gmail.com">Kworld </author>
        
    <!-- PLATFORM SELECTION -->

    <!--<gap:platform name="ios" />-->
    <gap:platform name="android" />
    <!--<gap:platform name="winphone" />-->
        
    <!-- GENERAL PREFERENCES -->
        
    <preference name="phonegap-version" value="3.7.0" />
    <preference name="orientation" value="default" />
    <preference name="fullscreen" value="true" /> <!-- remove the upper bar on iOS and Android -->
             
    <!-- PHONEGAP API FEATURES PREFERENCES -->
        
    <preference name="permissions" value="none"/>
      <feature name="http://api.phonegap.com/1.0/camera"/>
    

    <access origin="*" />
      <gap:plugin name="org.apache.cordova.camera" version="0.3.2" />
     

</widget>
